
.project-search{
    &_btn{
        border-radius: 5rem; 
        background-color: rgb(67, 67, 248); 
    }
    &_serchInput{
        border-radius: 5rem; 
        border: 1px solid rgb(67, 67, 248); 
    }
    &_dropdown{
        background-color: none;
        color: rgb(67, 67, 248);
        text-decoration: none;
        font-weight: bold;
        border: none;
    }
    label{
        background-color: none;
        color: rgb(67, 67, 248);
        text-decoration: none;
        font-weight: bold;
        border: none;
    }
}
    