<!--begin::Entry-->
<div class="d-flex flex-column-fluid">
	<!--begin::Container-->
	<div class="container">
		<!--begin::Profile Personal Information-->
		<div class="d-flex flex-row">
			<!--begin::Aside-->
			<div class="flex-row-auto offcanvas-mobile w-250px w-xxl-350px" id="kt_profile_aside">
				<!--begin::Profile Card-->
				<div class="card card-custom card-stretch">
					<!--begin::Body-->
					<div class="card-body pt-4">
						<!--begin::Toolbar-->
						<div class="d-flex justify-content-end">
							<div class="dropdown dropdown-inline">
								<a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon"
									data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="ki ki-bold-more-hor"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
									<!--begin::Navigation-->
									<ul class="navi navi-hover py-5">
										<li class="navi-item">
											<a href="#" class="navi-link">
												<span class="navi-icon">
													<i class="flaticon2-drop"></i>
												</span>
												<span class="navi-text">New Group</span>
											</a>
										</li>
										<li class="navi-item">
											<a href="#" class="navi-link">
												<span class="navi-icon">
													<i class="flaticon2-list-3"></i>
												</span>
												<span class="navi-text">Contacts</span>
											</a>
										</li>
										<li class="navi-item">
											<a href="#" class="navi-link">
												<span class="navi-icon">
													<i class="flaticon2-rocket-1"></i>
												</span>
												<span class="navi-text">Groups</span>
												<span class="navi-link-badge">
													<span
														class="label label-light-primary label-inline font-weight-bold">new</span>
												</span>
											</a>
										</li>
										<li class="navi-item">
											<a href="#" class="navi-link">
												<span class="navi-icon">
													<i class="flaticon2-bell-2"></i>
												</span>
												<span class="navi-text">Calls</span>
											</a>
										</li>
										<li class="navi-item">
											<a href="#" class="navi-link">
												<span class="navi-icon">
													<i class="flaticon2-gear"></i>
												</span>
												<span class="navi-text">Settings</span>
											</a>
										</li>
										<li class="navi-separator my-3"></li>
										<li class="navi-item">
											<a href="#" class="navi-link">
												<span class="navi-icon">
													<i class="flaticon2-magnifier-tool"></i>
												</span>
												<span class="navi-text">Help</span>
											</a>
										</li>
										<li class="navi-item">
											<a href="#" class="navi-link">
												<span class="navi-icon">
													<i class="flaticon2-bell-2"></i>
												</span>
												<span class="navi-text">Privacy</span>
												<span class="navi-link-badge">
													<span
														class="label label-light-danger label-rounded font-weight-bold">5</span>
												</span>
											</a>
										</li>
									</ul>
									<!--end::Navigation-->
								</div>
							</div>
						</div>
						<!--end::Toolbar-->
						<!--begin::User-->
						<div class="d-flex align-items-center">
							<div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
								<div class="symbol-label" [ngStyle]="{'background-image':'url('+imageProfile+')'}">
								</div>
								<i class="symbol-badge bg-success"></i>
							</div>
							<div>
								<a
									class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary">{{firstName}}
									{{lastName}}</a>
								<div class="text-muted">Super Admin</div>
								
							</div>
						</div>
						<!--end::User-->
						<!--begin::Contact-->
						<div class="py-9">
							<div class="d-flex align-items-center justify-content-between mb-2">
								<span class="font-weight-bold mr-2">Email:</span>
								<a href="#" class="text-muted text-hover-primary">{{email}}</a>
							</div>
							<div class="d-flex align-items-center justify-content-between mb-2">
								<span class="font-weight-bold mr-2">Phone:</span>
								<span class="text-muted">+923086199922</span>
							</div>
							<div class="d-flex align-items-center justify-content-between">
								<span class="font-weight-bold mr-2">Location:</span>
								<span class="text-muted">Zinormous Gold Point Rawalpindi</span>
							</div>
						</div>
						<!--end::Contact-->
						<!--begin::Nav-->
						<div class="navi navi-bold navi-hover navi-active navi-link-rounded">

							<div class="navi-item mb-2">
								<a class="navi-link py-4 active" (click)="personalInfo()">
									<span class="navi-icon mr-2">
										<span class="svg-icon">
											<!--begin::Svg Icon | path:assets/media/svg/icons/General/User.svg-->
											<svg xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
												viewBox="0 0 24 24" version="1.1">
												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
													<polygon points="0 0 24 0 24 24 0 24" />
													<path
														d="M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z"
														fill="#000000" fill-rule="nonzero" opacity="0.3" />
													<path
														d="M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z"
														fill="#000000" fill-rule="nonzero" />
												</g>
											</svg>
											<!--end::Svg Icon-->
										</span>
									</span>
									<span class="navi-text font-size-lg">Personal Information</span>
								</a>
							</div>
							<div class="navi-item mb-2">
								<a class="navi-link py-4" (click)="changePass()">
									<span class="navi-icon mr-2">
										<span class="svg-icon">
											<!--begin::Svg Icon | path:assets/media/svg/icons/Communication/Shield-user.svg-->
											<svg xmlns="http://www.w3.org/2000/svg"
												xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
												viewBox="0 0 24 24" version="1.1">
												<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
													<rect x="0" y="0" width="24" height="24" />
													<path
														d="M4,4 L11.6314229,2.5691082 C11.8750185,2.52343403 12.1249815,2.52343403 12.3685771,2.5691082 L20,4 L20,13.2830094 C20,16.2173861 18.4883464,18.9447835 16,20.5 L12.5299989,22.6687507 C12.2057287,22.8714196 11.7942713,22.8714196 11.4700011,22.6687507 L8,20.5 C5.51165358,18.9447835 4,16.2173861 4,13.2830094 L4,4 Z"
														fill="#000000" opacity="0.3" />
													<path
														d="M12,11 C10.8954305,11 10,10.1045695 10,9 C10,7.8954305 10.8954305,7 12,7 C13.1045695,7 14,7.8954305 14,9 C14,10.1045695 13.1045695,11 12,11 Z"
														fill="#000000" opacity="0.3" />
													<path
														d="M7.00036205,16.4995035 C7.21569918,13.5165724 9.36772908,12 11.9907452,12 C14.6506758,12 16.8360465,13.4332455 16.9988413,16.5 C17.0053266,16.6221713 16.9988413,17 16.5815,17 C14.5228466,17 11.463736,17 7.4041679,17 C7.26484009,17 6.98863236,16.6619875 7.00036205,16.4995035 Z"
														fill="#000000" opacity="0.3" />
												</g>
											</svg>
											<!--end::Svg Icon-->
										</span>
									</span>
									<span class="navi-text font-size-lg">Change Password</span>

								</a>
							</div>
						</div>
						<!--end::Nav-->
					</div>
					<!--end::Body-->
				</div>
				<!--end::Profile Card-->
			</div>
			<!--end::Aside-->

			<!--begin::Content-->
			<div class="flex-row-fluid ml-lg-8" *ngIf="status">
				<!--begin::Card-->
				<div class="card card-custom card-stretch">
					<!--begin::Header-->
					<div class="card-header py-3">
						<div class="card-title align-items-start flex-column">
							<h3 class="card-label font-weight-bolder text-dark">Personal Information</h3>
							<span class="text-muted font-weight-bold font-size-sm mt-1">Update your personal
								informaiton</span>
						</div>
						<div class="card-toolbar">
							<button type="reset" class="btn btn-success mr-2" disabled>Save Changes</button>
							<button type="reset" class="btn btn-secondary" disabled>Cancel</button>
						</div>
					</div>
					<!--end::Header-->
					<!--begin::Form-->
					<form class="form">
						<!--begin::Body-->
						<div class="card-body">
							<div class="row">
								<label class="col-xl-3"></label>
								<div class="col-lg-9 col-xl-6">
									<h5 class="font-weight-bold mb-6">Customer Info</h5>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
								<div class="col-lg-9 col-xl-6">
									<div class="image-input image-input-outline" id="kt_profile_avatar"
										style="background-image: url(assets/media/users/blank.png)">
										<div class="image-input-wrapper" 
											[ngStyle]="{'background-image':'url('+image+')'}">
										</div>
										<label
											class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
											data-action="change" data-toggle="tooltip" title=""
											data-original-title="Change avatar">
											<i class="fa fa-pen icon-sm text-muted"></i>
											<input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg" />
											<input type="hidden" name="profile_avatar_remove" />
										</label>
										<span
											class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
											data-action="cancel" data-toggle="tooltip" title="Cancel avatar">
											<i class="ki ki-bold-close icon-xs text-muted"></i>
										</span>
										<span
											(click)="cancelImage()"
											class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
											data-action="remove" data-toggle="tooltip" title="Remove avatar">
											<i class="ki ki-bold-close icon-xs text-muted"></i>
										</span>
									</div>
									<span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-xl-3 col-lg-3 col-form-label">First Name</label>
								<div class="col-lg-9 col-xl-6">
									<input class="form-control form-control-lg form-control-solid" type="text"
										value="{{firstName}}" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-xl-3 col-lg-3 col-form-label">Last Name</label>
								<div class="col-lg-9 col-xl-6">
									<input class="form-control form-control-lg form-control-solid" type="text"
										value="{{lastName}}" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-xl-3 col-lg-3 col-form-label">Admin ID</label>
								<div class="col-lg-9 col-xl-6">
									<input class="form-control form-control-lg form-control-solid" type="text"
										value="{{userId}}" readonly />
									<span class="form-text text-muted">Its your admin ID you cant edit that but you can
										serch by that. <b class="text-danger">Dont share with other</b> </span>
								</div>
							</div>
							<div class="row">
								<label class="col-xl-3"></label>
								<div class="col-lg-9 col-xl-6">
									<h5 class="font-weight-bold mt-10 mb-6">Contact Info</h5>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-xl-3 col-lg-3 col-form-label">Contact Phone</label>
								<div class="col-lg-9 col-xl-6">
									<div class="input-group input-group-lg input-group-solid">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<i class="la la-phone"></i>
											</span>
										</div>
										<input type="text" class="form-control form-control-lg form-control-solid"
											value="+923086199922" placeholder="Phone" />
									</div>
									<span class="form-text text-muted">We'll never share your email with anyone
										else.</span>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-xl-3 col-lg-3 col-form-label">Email Address</label>
								<div class="col-lg-9 col-xl-6">
									<div class="input-group input-group-lg input-group-solid">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<i class="la la-at"></i>
											</span>
										</div>
										<input type="text" class="form-control form-control-lg form-control-solid"
											value="{{email}}" placeholder="Email" />
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-xl-3 col-lg-3 col-form-label">Company Site</label>
								<div class="col-lg-9 col-xl-6">
									<div class="input-group input-group-lg input-group-solid">
										<input type="text" class="form-control form-control-lg form-control-solid"
											placeholder="Username" value="zinormous" />
										<div class="input-group-append">
											<span class="input-group-text">.com</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--end::Body-->
					</form>
					<!--end::Form-->
				</div>
			</div>
			<!--end::Content-->


			<!--begin::Content-->
			<div class="flex-row-fluid ml-lg-8" *ngIf="!status">
				<!--begin::Card-->
				<div class="card card-custom">
					<!--begin::Header-->
					<div class="card-header py-3">
						<div class="card-title align-items-start flex-column">
							<h3 class="card-label font-weight-bolder text-dark">Change Password</h3>
							<span class="text-muted font-weight-bold font-size-sm mt-1">Change your account
								password</span>
						</div>
						<div class="card-toolbar">
							<button class="btn btn-success mr-2" (click)="changePassword(userId)">Save Changes</button>
							<button class="btn btn-secondary" (click)="clear()">Clear</button>
						</div>
					</div>
					<!--end::Header-->
					<!--begin::Form-->
					<form class="form" [formGroup]="changePasswordForm">
						<div class="card-body">
							<!--begin::Alert-->
							<div class="alert alert-custom alert-light-danger fade show mb-10" role="alert">
								<div class="alert-icon">
									<span class="svg-icon svg-icon-3x svg-icon-danger">
										<!--begin::Svg Icon | path:assets/media/svg/icons/Code/Info-circle.svg-->
										<svg xmlns="http://www.w3.org/2000/svg"
											xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px"
											viewBox="0 0 24 24" version="1.1">
											<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
												<rect x="0" y="0" width="24" height="24" />
												<circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10" />
												<rect fill="#000000" x="11" y="10" width="2" height="7" rx="1" />
												<rect fill="#000000" x="11" y="7" width="2" height="2" rx="1" />
											</g>
										</svg>
										<!--end::Svg Icon-->
									</span>
								</div>
								<div class="alert-text font-weight-bold">Configure user passwords to expire
									periodically. Users will need warning that their passwords are going to expire,
									<br />or they might inadvertently get locked out of the system!
								</div>
								<div class="alert-close">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">
											<i class="ki ki-close"></i>
										</span>
									</button>
								</div>
							</div>
							<!--end::Alert-->
							<div class="form-group row">
								<label class="col-xl-3 col-lg-3 col-form-label text-alert">Current Password</label>
								<div class="col-lg-9 col-xl-6">
									<input type="password" class="form-control form-control-lg form-control-solid mb-2"
										placeholder="Current password" formControlName="currentPassowrd" />
									<span class="text-danger"
										*ngIf="(addFormControl.currentPassowrd.touched) && addFormControl.currentPassowrd.errors?.required">
										Current password is required <br>
									</span>
									<span class="text-danger"
										*ngIf="addFormControl.currentPassowrd.touched && addFormControl.currentPassowrd.errors?.minlength">
										Current password is more then 3 character <br>
									</span>
									<a class="text-sm font-weight-bold">Forgot password ?</a>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-xl-3 col-lg-3 col-form-label text-alert">New Password</label>
								<div class="col-lg-9 col-xl-6">
									<input type="password" class="form-control form-control-lg form-control-solid"
										placeholder="New password" formControlName="newPassword" />
										<span class="text-danger"
										*ngIf="(addFormControl.newPassword.touched) && addFormControl.newPassword.errors?.required">
										New password is required <br>
									</span>
									<span class="text-danger"
										*ngIf="addFormControl.newPassword.touched && addFormControl.newPassword.errors?.minlength">
										New password is more then 3 character <br>
									</span>	
								</div>
							</div>
							<div class="form-group row">
								<label class="col-xl-3 col-lg-3 col-form-label text-alert">Verify Password</label>
								<div class="col-lg-9 col-xl-6">
									<input type="password" class="form-control form-control-lg form-control-solid"
										placeholder="Verify password" formControlName="verifyPassword" />

										<span class="text-danger"
										*ngIf="(addFormControl.verifyPassword.touched) && addFormControl.verifyPassword.errors?.required">
										Verify password is required <br>
									</span>
									<span class="text-danger"
										*ngIf="addFormControl.verifyPassword.touched && addFormControl.verifyPassword.errors?.minlength">
										Verify password is more then 3 character <br>
									</span>	
									
									<span class="text-danger"
										*ngIf="!passStatus">
										Password is not match <br>
									</span>	
									
								</div>
							</div>
						</div>
					</form>
					<!--end::Form-->
				</div>
			</div>
			<!--end::Content-->
		</div>
		<!--end::Profile Personal Information-->
	</div>
	<!--end::Container-->
</div>
<!--end::Entry-->